@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Expense Management System</h1>
    
    <br />
    <h2 class="display-4">Record,Manage & Track All your Expenses</h2>
</div>
